<app-navbar></app-navbar>

<div class="flex justify-center items-center mt-6 mx-5 md:mx-14">

    @if(task){
        <div class="w-full rounded-sm flex flex-col bg-neutral-100 p-4 shadow-sm gap-5">
            <h3><strong>Title: </strong>{{ task.name }}</h3>
    
            <p class="overflow-hidden text-ellipsis"><strong>Content: </strong>{{ task.content  }}</p>
    
            <div>
                <strong>State: </strong><small class="font-bold p-2 w-min rounded-full cursor-pointer" [ngClass]="{
                    'bg-neutral-300 hover:bg-neutral-200': !task.done,
                    'bg-blue-400 hover:bg-blue-300': task.done
                }"
                (click)="toggleTaskState($event, task.id)"
                >{{ task.done ? "Done" : "Pending" }}</small>
            </div>

            <div class="flex flex-col gap-3">
                <button (click)="toggleTaskState($event, task.id)" [ngClass]="{
                    'bg-green-300 hover:bg-green-400': !task.done,
                    'bg-neutral-300 hover:bg-neutral-200': task.done
                }" class="w-full  p-4 rounded-sm outline-none cursor-pointer" type="submit">{{
                    task.done ? "Mark as pending" : "Mark as completed"
                }}</button>
                <button (click)="deleteTask($event, task.id)" class="w-full bg-red-300 p-4 rounded-sm outline-none hover:bg-red-400 cursor-pointer" type="submit">Delete Task</button>
                <a (click)="goBack()" class="w-full text-center cursor-pointer text-blue-400 hover:text-blue-300 hover:underline" type="submit">Go back</a>
            </div>
    
        </div>
    }

</div>